* {
  margin: 0;
  padding: 0;
 }

body {
  background: #4dd0e1;
  color: #3949ab;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

a { 
  text-decoration: none;
  color: #4a0000;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #6a0000;
}

h1 {
  background-color: #00b5cd;
  color: #114f85;
  padding: 10px;
  text-align: center;
}

ul {
  padding: 20px;
  list-style: none;
}

li {
  display: inline-block;
  width: 200px;
  padding: 10px;
  background: #00b5cd;
  border-radius: 10px;
  margin: 10px;
}
li>img {
  width: 190px;
  height: 190px;
  object-fit: cover;
}

div#cont {
  display: block;
  margin: 0px auto;
  /* width: 50%; */
  text-align: center;
  padding: 10px;
  /* max-width: 400px; */
}

p {
  padding: 10px;
}

ul{
  padding: 10px;
}

img {
  max-width: 300px;
}
